@model PruebaTecnica_elecciones.Models.ResultdoElectoral

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro de eliminar los Resultados Electorales?</h3>
<div>
    <h4>Resultdo Electoral</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeElectoral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeElectoral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadVotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadVotos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinciaPerteneciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinciaPerteneciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartidoPerteneciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartidoPerteneciente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
