@model PruebaTecnica_elecciones.Models.ResultdoElectoral

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ResultdoElectoral</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.PorcentajeElectoral, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PorcentajeElectoral, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PorcentajeElectoral, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cantidadVotos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidadVotos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidadVotos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProvinciaPerteneciente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Action("ListarProv")
            @Html.ValidationMessageFor(model => model.ProvinciaPerteneciente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PartidoPerteneciente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Action("ListarPar")
            @Html.ValidationMessageFor(model => model.PartidoPerteneciente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
